.area {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.temperature {
    font-size: 76px;
    font-weight: bold;
    justify-content: right;
    display: flex;
}


.page {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background: #dee0e0;
    padding: 50px;
    margin-top: 40px;
}

div {
    font-size: 16px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
}


div strong {
    color: rgb(10, 39, 126);
}

#footer {
    padding: 50px 0px 30px 0px;
}

#city {
    padding: 20px 200px 20px 10px;
    border: 1px solid #d5e1e2;
    border-radius: 6px;
}

::placeholder {
    font-size: 16px;
    border: 0px;
}

.button {
    padding: 20px;
    border-radius: 6px;
    border: 0px;
    background: #759aec;
}

h1{font-family: "Acme", sans-serif;
    font-size: 45px;
    color: #61b7ed;
    padding:0px 50px 30px;
    font-style: italic; }

.material-symbols-outlined {
   font-size:50px; }
